<head>
	<title>
		Selection
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='selection.css')}}"/>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('papers') }}">Papers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('teachers') }}">Teachers</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('selection') }}">Selection<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('generate') }}">Generate</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('saves') }}">Saves</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="content">
		<form method="POST">
			<div id="options-box">
				<div class="btn-group" role="group" aria-label="Buttons">
					<button type="submit" class="btn btn-primary btn-sm" id="largest" name="largest" value="true">
						Largest Selection
					</button>
					<button type="submit" class="btn btn-primary btn-sm" id="department" name="department" value="true">
						Department Selection
					</button>
				</div>
			</div>
			<div class="accordion">
				{% for paper in papers %}
					<div class="card">
						<div class="card-header" id="h{{ paper.id}}">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c{{ paper.id}}" aria-expanded="true" aria-controls="c{{ paper.id}}">
									{{ paper.Name }}
								</button>
							</h2>
						</div>
						<div id="c{{ paper.id}}" class="collapse" aria-labelledby="h{{ paper.id}}" data-parent="#content">
							<div class="card-body">
								<div class="add-box">
									Number of teachers: {{ paper.pool_count }}
									<button type="button" class="btn btn-success btn-sm add" data-toggle="modal" data-target="#m{{ paper.id }}">
										Add Teacher
									</button>
								</div>
								<ul class="list-group">
									{% for teacher in paper.teachers %}
										<li class="list-group-item">
											{{ teacher.Name }}
											<div class="btn-group" role="group" aria-label="Buttons">
												<button type="submit" class="btn btn-warning btn-sm">
													Prioritse
												</button>
												<button type="submit" class="btn btn-danger btn-sm" name="remove" value="{{ paper.id }}-{{ teacher.id }}">
													Remove
												</button>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="modal fade" id="m{{ paper.id }}" tabindex="-1" role="dialog" aria-labelledby="mt{{ paper.id }}" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="mt{{ paper.id }}">Add teachers for {{ paper.Name }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<ul class="list-group">
										{% for teacher in paper.not_included %}
											<li class="list-group-item">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value="{{ teacher.id }}" name="add{{ paper.id }}-{{ teacher.id }}" id="check{{ paper.id }}-{{ teacher.id }}">
													<label class="form-check-label" for="check{{ paper.id }}-{{ teacher.id }}">
														{{ teacher.Name }}
													</label>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
									<button class="btn btn-primary btn-sm" type="submit" name="add" value="{{ paper.id }}">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</form>
	</div>
</div>

